
<div class="app-sidebar app-panel">
  <ol class="stories">
    {{#if everydayReading}}
      {{#each model as |book|}}
          {{book-card tagName="li" book=book}}
      {{/each}}
    {{/if}}
    {{#if mostPopularBooks}}
      {{#each model as |book|}}
          {{popular-book-card tagName="li" book=book}}
      {{/each}}
    {{/if}}
  </ol>
</div>

<div class="app-content {{if showWelcomeBackground 'welcome-background'}} {{if hasContent 'active'}} ">
  {{outlet}}
</div>
